# Virtual environments
.venv/
venv/
*venv/

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/

# EnergyPlus simulation output
eplus_out/
outputs/
eplusout.*
eplusmtr.*
eplustbl.*
sqlite.err
api_initialization_log.txt

# Jupyter
.ipynb_checkpoints/

# DRL models & logs
models/
tb_logs*/
drl_output/

# OS files
.DS_Store
Thumbs.db